.Mood-Input{
    width: 450px;

    padding: 10px;
    font-size: 28px;
    text-align: center;

    border: 1px none #4b4b4b;
    border-radius:35px;
}

.Mood-Input:focus {

    width: 450px;

    padding: 10px;
    font-size: 28px;
    text-align: center;
    outline: none;
}

/*.mood button {*/

/*    margin: 20px;*/
/*    border-radius: 25px;*/
/*    font-size: large;*/
/*    border-style:none;*/
/*}*/

/*.mood button:focus {*/

/*    border-style:none;*/
/*    outline: 0;*/
/*}*/